// 2depth detail page
section {
  .content__title {
    text-align: center;
    span {
      font-size: 20px;
      font-weight: 600;
      color: darken($root-color, 40%);
    }
    h3 {
      padding-top: 10px;
      font-size: 56px;
      color: $text-color;
      strong {
        font-weight: 700;
      }
    }
    h4 {
      padding-top: 20px;
      font-size: 24px;
    }
    &.alignLeft {
      text-align: left;
    }
  }
  .page__deco {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    transition: all 0.4s ease;
    &.type1 {
      height: 180px;
      top: -90px;
      right: 0;
      background-color: $sign-color;
      transform: rotate(25deg);
      z-index: 1;
    }
  }
  &.content__banner {
    overflow: hidden;
    > img {
      display: block;
      width: 100%;
    }
    .inner {
      position: absolute;
      height: 100%;
      padding: 0;
    }
    .banner__text {
      width: 36.458vw;
      height: 13.75vw;
      position: absolute;
      top: 50%;
      left: 40px;
      transform: translateY(-50%);
      color: $white-color;
      background: url("/assets/images/pages/bg-bannertext.png") left top no-repeat;
      background-size: 100% 100%;
      h2 {
        margin-top: -14px;
        font-family: $pretendard-font;
        font-weight: 400;
        font-size: 4.167vw;
      }
      p {
        padding-top: 20px;
        font-size: 1.25vw;
        font-weight: 400;
        line-height: 1.3em;
      }
    }
  }
  &.content__service {
    h3 {
      text-align: center;
      font-size: 24px;
      line-height: 1.4em;
    }
    .service__wrap {
      margin-top: 120px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      > * {
        flex: 1 1 50%;
        height: auto;
        &:first-child {
          margin-top: 100px;
        }
        > div {
          flex: 1;
          display: flex;
          height: 450px;
          flex-direction: column;
          padding: 60px;
          color: $white-color;
          &.service-01 {
            background: url("/assets/images/pages/sync_boot/service-01.png") 0 0 no-repeat;
            background-size: 100% auto;
          }
          &.service-02 {
            background: url("/assets/images/pages/sync_boot/service-02.png") 0 0 no-repeat;
            background-size: 100% auto;
          }
          &.service-03 {
            background: url("/assets/images/pages/sync_boot/service-03.png") 0 0 no-repeat;
            background-size: 100% auto;
            border-top-right-radius: 50px;
          }
          &.service-04 {
            background: url("/assets/images/pages/sync_boot/service-04.png") 0 0 no-repeat;
            background-size: 100% auto;
          }

          h4 {
            font-family: $pretendard-font;
            font-size: 40px;
            font-weight: 700;
          }
          p {
            padding-top: 20px;
            font-size: 20px;
            line-height: 1.4em;
          }
        }
      }
    }
  }
  &.content__feature {
    background: url("/assets/images/pages/sync_boot/feature-bg.jpg") 0 0 no-repeat;
    background-size: cover;
    ul.feature_wrap {
      margin: 100px 0 86px;
      border: 1px solid $gray-color;
      display: flex;
      li {
        padding: 60px 40px;
        border-right: 1px solid $gray-color;
        text-align: center;
        background-color: $white-color;
        &:last-child {
          border: 0 none;
        }
        &:hover {
          background: linear-gradient(28deg, rgba(22, 133, 178, 1) 0%, rgba(12, 158, 134, 1) 100%);
          transform: scale(1.2);
          transition: all 0.2s ease-in;
          border-top-right-radius: 30px;
          h4,
          p {
            color: $white-color;
          }
        }
        > img {
        }
        h4 {
          padding: 20px 0;
          min-height: 96px;
          font-size: 20px;
          line-height: 1.4em;
        }
        p {
          font-size: 14px;
          font-weight: 300;
          line-height: 1.4em;
        }
      }
    }
  }
  &.content__composition {
    .diagram {
      margin: 60px 0 50px;
      display: flex;
    }
  }
  &.content__function {
    background-color: #f4f4f4;
    position: relative;
    .inner {
      display: flex;
    }
    .content__title {
      width: 30%;
    }
    .content__dial {
      width: 70%;
      display: flex;
      @include flex-align(center, center);
    }
    .dial__wrap {
      position: relative;
      margin: 100px 0 60px;
      width: 600px;
      height: 600px;
      border: 1px solid $gray-color;
      border-radius: 50%;
      background: url("/assets/images/pages/sync_boot/dial.png") center center no-repeat;
      button {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 48px;
        height: 48px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: transparent;
        display: flex;
        @include flex-align(center, center);
        z-index: 1;
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          width: 19px;
          height: 19px;
          border-radius: 50%;
          background-color: $gray-color;
          transition: all 0.2s ease-in;
        }
        &.active,
        &:hover {
          border: 1px solid #0e998e;
          background: $white-color;
          &::after {
            background-color: #0e998e;
          }
          .btn__inner {
            img {
              filter: invert(58%) sepia(52%) saturate(7064%) hue-rotate(148deg) brightness(90%)
                contrast(89%);
            }
            color: $sign-color;
          }
        }
        .btn__inner {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100px;
          height: 90px;
          display: flex;
          flex-direction: column;
          @include flex-align(center, center);
          span {
            font-size: 24px;
            line-height: 1.2em;
          }
        }
      }
    }
    .dial__desc {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 650px;
      height: 680px;
      background: $white-color;
      border-top-right-radius: 50px;
      padding: 120px 100px 120px 240px;
      ul {
        li {
          display: none;
          &.active {
            display: block;
          }
          h4 {
            display: flex;
            @include flex-align(start, center);
            font-size: 24px;
            color: $sign-color;
            font-weight: 500;
            > img {
              display: inline-block;
              filter: invert(58%) sepia(52%) saturate(7064%) hue-rotate(148deg) brightness(90%)
                contrast(89%);
              margin-right: 10px;
            }
          }
          p {
            &.title {
              padding: 40px 0 20px;
              font-size: 36px;
              font-weight: 700;
              line-height: 1.2em;
              word-break: keep-all;
            }
            &.desc {
              font-size: 18px;
              line-height: 1.3em;
            }
          }
        }
      }
      .pagenation {
        margin-top: 100px;
        display: flex;
        @include flex-align(start, center);
        span {
          font-size: 18px;
          &.current {
            font-weight: 700;
          }
          &.divide {
            display: inline-block;
            margin: 0 5px;
            width: 30px;
            height: 3px;
            background-color: $black-color;
          }
          &.total {
            color: $gray-color;
          }
        }
      }
    }
  }
  &.content__flatform {
    background-color: #ddd;
    .content__list {
      margin: 50px 0;
      display: flex;
      @include flex-align(space-between, start);
      .item {
        flex: 1;
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
        .head {
          padding: 12px;
          background: linear-gradient(180deg, rgba(22, 133, 178, 1) 0%, rgba(12, 158, 134, 1) 100%);
          color: $white-color;
          font-size: 18px;
          border-top-right-radius: 45px;
        }
        .body {
          padding: 20px;
          background-color: $white-color;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          ul {
            li {
              margin-bottom: 20px;
              border: 1px solid $gray2-color;
              &:last-child {
                margin-bottom: 0;
              }
              span {
                display: block;
                width: 100%;
                text-align: center;
                padding: 12px;
                color: $text-color;
                &.category {
                }
                &.name {
                  position: relative;
                  font-size: 14px;
                  border-top: 1px solid $gray2-color;
                  background-color: $gray2-color;
                  &::after {
                    display: inline-block;
                    content: "";
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    // background-color: red;
                    border-radius: 50%;
                  }
                  &.type1::after {
                    background-color: #387ade;
                  }
                  &.type2::after {
                    background-color: #ff8f0b;
                  }
                  &.type3::after {
                    background-color: #27a633;
                  }
                  &.type4::after {
                    background-color: #a16ed3;
                  }
                  &.type5::after {
                    background-color: #ffcd1e;
                  }
                  &.type6::after {
                    background-color: #41a7a7;
                  }
                  &.type7::after {
                    background-color: #6cb9ff;
                  }
                  &.type8::after {
                    background-color: #a0d800;
                  }
                  &.type9::after {
                    background-color: #ff5a5a;
                  }
                  &.type10::after {
                    background-color: #a8a8a8;
                  }
                  &.type11::after {
                    background-color: #beb66c;
                  }
                  &.type12::after {
                    background-color: #b4843d;
                  }
                  &.type13::after {
                    background-color: #d36ec9;
                  }
                  &.type14::after {
                    background-color: #d97171;
                  }
                  &.type15::after {
                    background-color: #b21616;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 데스크탑 소형 ~1440
@include desktopSmall {
  section {
    &.content__banner {
      .banner__text {
        left: 40px;
      }
    }
    &.content__service {
      h3 {
        font-size: 1.667vw;
      }
      .service__wrap > * > div {
        height: 30vw;
      }
    }
  }
}

// 태블릿 768 ~ 1439
@include tablet {
  section {
    &.content__service {
      h3 {
        font-size: 1.875vw;
      }
      .service__wrap > * > div {
        height: 30vw;
      }
    }
  }
}

// 모바일 320 ~ 767
@include mobile {
}

// 모바일 소형 ~320
@include mobileFold {
}
