// 2depth detail page
section {
  .h100 {
    height: 100px;
  }
  .content__title {
    text-align: center;
    span {
      font-size: 20px;
      font-weight: 600;
      color: darken($root-color, 40%);
    }
    h3 {
      padding-top: 10px;
      font-size: 56px;
      color: $text-color;
      strong {
        font-weight: 700;
      }
    }
    h4 {
      padding-top: 20px;
      font-size: 24px;
    }
    &.alignLeft {
      text-align: left;
    }
  }
  .page__deco {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    transition: all 0.4s ease;
    z-index: 1;
    &.type1 {
      height: 180px;
      top: -90px;
      right: 60px;
      background-color: $sign-color;
      transform: rotate(25deg);
    }
    &.type2 {
      width: 110px;
      height: 110px;
      bottom: -55px;
      left: 25%;
      border-radius: 50%;
      background-color: #c0ded8;
    }
    &.type3 {
      height: 180px;
      bottom: -90px;
      right: 15%;
      background-color: #1685b2;
      transform: rotate(25deg);
    }
  }
  .page__deco__text {
    position: absolute;
    width: max-content;
    color: darken($white-color, 20%);
    font-family: $pretendard-font;
    font-weight: 700;
    font-size: 8.333vw;
    line-height: 1em;
    opacity: 0.6;
    z-index: 0;
  }
  &.content__banner {
    overflow: hidden;
    img {
      width: 100%;
    }
    .inner {
      position: absolute;
      height: -webkit-fill-available;
      padding: 0;
    }
    .banner__text {
      width: 36.458vw;
      height: 13.75vw;
      position: absolute;
      top: 50%;
      left: 40px;
      transform: translateY(-50%);
      color: $white-color;
      background: url("/BI/assets/images/pages/bg-bannertext.png") left top no-repeat;
      background-size: 100% 100%;
      h2 {
        margin-top: -14px;
        font-family: $pretendard-font;
        font-weight: 400;
        font-size: 4.167vw;
      }
      p {
        padding-top: 20px;
        font-size: 1.25vw;
        font-weight: 400;
        line-height: 1.3em;
      }
    }
  }
  &.content__service {
    h3 {
      text-align: center;
      font-size: 24px;
      line-height: 1.4em;
    }
    &.sync-boot .service__wrap > div > div {
      &.service-01 {
        background: url("/BI/assets/images/pages/sync_boot/service-01.png") 0 0 no-repeat;
        background-size: 100% auto;
      }
      &.service-02 {
        background: url("/BI/assets/images/pages/sync_boot/service-02.png") 0 0 no-repeat;
        background-size: 100% auto;
      }
      &.service-03 {
        background: url("/BI/assets/images/pages/sync_boot/service-03.png") 0 0 no-repeat;
        background-size: 100% auto;
        border-top-right-radius: 50px;
      }
      &.service-04 {
        background: url("/BI/assets/images/pages/sync_boot/service-04.png") 0 0 no-repeat;
        background-size: 100% auto;
      }
    }
    &.sync-cms .service__wrap > div > div {
      &.service-01 {
        background: url("/BI/assets/images/pages/sync_cms/service-01.png") 0 0 no-repeat;
        background-size: 100% auto;
      }
      &.service-02 {
        background: url("/BI/assets/images/pages/sync_cms/service-02.png") 0 0 no-repeat;
        background-size: 100% auto;
      }
      &.service-03 {
        background: url("/BI/assets/images/pages/sync_cms/service-03.png") 0 0 no-repeat;
        background-size: 100% auto;
        border-top-right-radius: 50px;
      }
      &.service-04 {
        background: url("/BI/assets/images/pages/sync_cms/service-04.png") 0 0 no-repeat;
        background-size: 100% auto;
      }
    }
    .service__wrap {
      margin-top: 120px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      > img {
        width: 100%;
        border-top-right-radius: 50px;
      }
      > div {
        flex: 1 1 50%;
        height: auto;
        &:first-child {
          margin-top: 100px;
        }
        > div {
          flex: 1;
          display: flex;
          height: 420px;
          flex-direction: column;
          padding: 60px;
          color: $white-color;
          h4 {
            font-family: $pretendard-font;
            font-size: 40px;
            font-weight: 700;
          }
          p {
            padding-top: 20px;
            font-size: 20px;
            line-height: 1.4em;
          }
        }
      }
    }
  }
  &.content__feature {
    background: url("/BI/assets/images/pages/sync_boot/feature-bg.jpg") 0 0 no-repeat;
    background-size: cover;
    .keywords {
      margin-top: 60px;
      padding-bottom: 90px;
      background: url("/BI/assets/images/pages/sync_cms/keywords-bg.png") center 12px no-repeat;
      p {
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.4em;
      }
      ul {
        margin: 40px auto 0;
        display: flex;
        @include flex-align(center, center);
        flex-wrap: wrap;
        width: 55%;
        li {
          display: flex;
          flex: 0 0 auto;
          @include flex-align(center, center);
          margin: 4px;
          padding: 4px 16px;
          background-color: $white-color;
          border: 1px solid $gray2-color;
          border-radius: 15px;
          font-size: 16px;
          color: #666;
        }
      }
    }
    ul.feature_wrap {
      margin: 0 auto 86px;
      width: fit-content;
      border: 1px solid $gray-color;
      display: flex;
      > li {
        flex: 1;
        padding: 60px 40px;
        max-width: 14.271vw;
        border-right: 1px solid $gray-color;
        text-align: center;
        background-color: $white-color;
        &:last-child {
          border: 0 none;
        }
        &:hover {
          background: linear-gradient(28deg, rgba(22, 133, 178, 1) 0%, rgba(12, 158, 134, 1) 100%);
          transform: scale(1.2);
          transition: all 0.2s ease-in;
          border-top-right-radius: 30px;
          h4,
          p,
          li {
            color: $white-color;
          }
        }
        > img {
        }
        h4 {
          padding: 20px 0;
          min-height: 96px;
          font-size: 20px;
          line-height: 1.4em;
        }
        p {
          font-size: 14px;
          font-weight: 300;
          line-height: 1.4em;
        }
        > ul {
          li {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.4em;
            text-align: center;
            padding-bottom: 4px;
          }
        }
      }
    }
    .swiper-controls {
      display: none;
    }
  }
  &.content__composition {
    h4 {
      padding-top: 40px;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
    .diagram {
      margin: 60px 0 50px;
      display: flex;
      > img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
  &.content__function {
    background-color: #f4f4f4;
    position: relative;
    .inner {
      display: flex;
    }
    .content__title {
      width: 33%;
    }
    .content__dial {
      width: 67%;
      display: flex;
      @include flex-align(center, center);
    }
    .dial__wrap {
      position: relative;
      margin: 100px 0 60px;
      width: 600px;
      height: 600px;
      border: 1px solid $gray-color;
      border-radius: 50%;
      button {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 48px;
        height: 48px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: transparent;
        display: flex;
        @include flex-align(center, center);
        z-index: 1;
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          width: 19px;
          height: 19px;
          border-radius: 50%;
          background-color: $gray-color;
          transition: all 0.2s ease-in;
        }
        &.active,
        &:hover {
          border: 1px solid #0e998e;
          background: $white-color;
          &::after {
            background-color: #0e998e;
          }
          .btn__inner {
            img {
              filter: invert(58%) sepia(52%) saturate(7064%) hue-rotate(148deg) brightness(90%)
                contrast(89%);
            }
            color: $sign-color;
          }
        }
        .btn__inner {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 210px;
          height: 90px;
          display: flex;
          flex-direction: column;
          @include flex-align(center, center);
          span {
            padding-top: 10px;
            font-size: 24px;
            line-height: 1.2em;
          }
        }
      }
    }
    &.sync-boot {
      .dial__wrap {
        background: url("/BI/assets/images/pages/sync_boot/dial.png") center center no-repeat;
        background-size: 83% auto;
      }
    }
    &.sync-cms {
      .dial__wrap {
        background: url("/BI/assets/images/pages/sync_cms/dial.png") center center no-repeat;
        background-size: 83% auto;
      }
    }
    .dial__desc {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 33.854vw;
      height: 620px;
      background: $white-color;
      border-top-right-radius: 2.604vw;
      // padding: 6.25vw 5.208vw 6.25vw 12.5vw;
      .desc__wrap {
        width: 310px;
        position: absolute;
        top: 6.25vw;
        right: 3.208vw;

        > ul {
          > li {
            display: none;
            &.active {
              display: block;
            }
            h4 {
              display: flex;
              @include flex-align(start, center);
              font-size: 24px;
              color: $sign-color;
              font-weight: 500;
              > img {
                display: inline-block;
                filter: invert(58%) sepia(52%) saturate(7064%) hue-rotate(148deg) brightness(90%)
                  contrast(89%);
                margin-right: 10px;
              }
            }
            p {
              &.title {
                padding: 40px 0 20px;
                font-size: 36px;
                font-weight: 700;
                line-height: 1.2em;
                word-break: keep-all;
              }
              &.desc {
                font-size: 18px;
                line-height: 1.3em;
              }
            }
            ul {
              li {
                position: relative;
                padding: 2px 0 2px 25px;
                font-size: 18px;
                line-height: 1.3em;
                &::before {
                  display: inline-block;
                  content: "";
                  width: 6px;
                  height: 6px;
                  position: absolute;
                  top: 12px;
                  left: 10px;
                  border-radius: 50%;
                  background-color: $black-color;
                }
              }
            }
          }
        }
        .pagenation {
          margin-top: 100px;
          display: flex;
          @include flex-align(start, center);
          span {
            font-size: 18px;
            &.current {
              font-weight: 700;
            }
            &.divide {
              display: inline-block;
              margin: 0 5px;
              width: 30px;
              height: 3px;
              background-color: $black-color;
            }
            &.total {
              color: $gray-color;
            }
          }
        }
      }
    }
  }
  &.content__flatform {
    background-color: #ddd;
    .content__list {
      margin: 50px 0;
      display: flex;
      @include flex-align(space-between, start);
      .item {
        flex: 1;
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
        .head {
          padding: 12px;
          background: linear-gradient(180deg, rgba(22, 133, 178, 1) 0%, rgba(12, 158, 134, 1) 100%);
          color: $white-color;
          font-size: 18px;
          border-top-right-radius: 45px;
        }
        .body {
          padding: 20px;
          background-color: $white-color;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          ul {
            li {
              margin-bottom: 20px;
              border: 1px solid $gray2-color;
              &:last-child {
                margin-bottom: 0;
              }
              span {
                display: block;
                width: 100%;
                text-align: center;
                padding: 12px 30px;
                color: $text-color;
                &.category {
                }
                &.name {
                  position: relative;
                  font-size: 14px;
                  border-top: 1px solid $gray2-color;
                  background-color: #f4f4f4;
                  &::after {
                    display: inline-block;
                    content: "";
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    // background-color: red;
                    border-radius: 50%;
                  }
                  &.type1::after {
                    background-color: #387ade;
                  }
                  &.type2::after {
                    background-color: #ff8f0b;
                  }
                  &.type3::after {
                    background-color: #27a633;
                  }
                  &.type4::after {
                    background-color: #a16ed3;
                  }
                  &.type5::after {
                    background-color: #ffcd1e;
                  }
                  &.type6::after {
                    background-color: #41a7a7;
                  }
                  &.type7::after {
                    background-color: #6cb9ff;
                  }
                  &.type8::after {
                    background-color: #a0d800;
                  }
                  &.type9::after {
                    background-color: #ff5a5a;
                  }
                  &.type10::after {
                    background-color: #a8a8a8;
                  }
                  &.type11::after {
                    background-color: #beb66c;
                  }
                  &.type12::after {
                    background-color: #b4843d;
                  }
                  &.type13::after {
                    background-color: #d36ec9;
                  }
                  &.type14::after {
                    background-color: #d97171;
                  }
                  &.type15::after {
                    background-color: #b21616;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 데스크탑 소형 ~1440
@include desktopSmall {
  section {
    .content__title {
      span {
        font-size: 1.389vw;
      }
      h3 {
        padding-top: 0.694vw;
        font-size: 3.889vw;
      }
      h4 {
        padding-top: 1.389vw;
        font-size: 1.667vw;
      }
    }
    .page__deco {
      width: 6.25vw;
      height: 6.25vw;
      border-radius: 3.125vw;
      &.type1 {
        height: 12.5vw;
        top: -6.25vw;
        right: 4.167vw;
      }
      &.type2 {
        width: 7.639vw;
        height: 7.639vw;
        bottom: -3.819vw;
      }
      &.type3 {
        height: 12.5vw;
        bottom: -6.25vw;
        right: 4.167vw;
      }
    }
    &.content__banner {
      .banner__text {
        left: 40px;
      }
    }
    &.content__service {
      h3 {
        font-size: 1.667vw;
      }
      .service__wrap {
        margin-top: 6.944vw;
        > * {
          &:first-child {
            margin-top: 6.944vw;
          }
          > div {
            height: 29vw;
            padding: 4.167vw;
            h4 {
              font-size: 2.778vw;
            }
            p {
              padding-top: 1.389vw;
              font-size: 1.389vw;
            }
          }
        }
      }
    }
    &.content__feature {
      background: url("/BI/assets/images/pages/sync_boot/feature-bg.jpg") 0 0 no-repeat;
      background-size: auto 100%;
      .keywords {
        margin-top: 4.167vw;
        padding-bottom: 6.25vw;
        background: url("/BI/assets/images/pages/sync_cms/keywords-bg.png") center 2.833vw no-repeat;
        background-size: auto 100%;
        p {
          font-size: 1.667vw;
        }
        ul {
          margin: 2.778vw auto 0;
          width: 55%;
          li {
            margin: 0.278vw;
            padding: 0.278vw 1.111vw;
            border-radius: 1.111vw;
            font-size: 1.111vw;
          }
        }
      }
      ul.feature_wrap {
        margin: 0 auto 5.972vw;
        display: flex;
        flex-wrap: wrap;
        > li {
          flex: 1;
          padding: 3.472vw 2.083vw;
          &:hover {
            transform: scale(1.2);
            border-top-right-radius: 2.083vw;
          }
          h4 {
            padding: 1.389vw 0;
            min-height: 6.667vw;
            font-size: 1.389vw;
          }
          p {
            font-size: 0.972vw;
          }
        }
      }
    }
    &.content__composition {
      .diagram {
        max-width: 1440px;
        width: 100%;
        margin: 4.167vw 0 3.472vw;
      }
    }
    &.content__function {
      .inner {
        display: flex;
      }
      .dial__wrap {
        position: relative;
        margin: 6.944vw 0 4.167vw;
        width: 34.722vw;
        height: 34.722vw;
        button {
          width: 3.333vw;
          height: 3.333vw;
          &::after {
            width: 1.319vw;
            height: 1.319vw;
          }
          .btn__inner {
            width: 6.944vw;
            height: 6.25vw;
            span {
              font-size: 1.389vw;
            }
          }
        }
      }
      .dial__desc {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 33.854vw;
        height: 38.722vw;
        background: $white-color;
        border-top-right-radius: 2.604vw;
        // padding: 6.25vw 5.208vw 6.25vw 12.5vw;
        .desc__wrap {
          width: 80%;
          position: absolute;
          top: 6.25vw;
          right: 10%;
        }
        ul {
          li {
            h4 {
              font-size: 1.667vw;
            }
            p {
              &.title {
                padding: 2.778vw 0 1.389vw;
                font-size: 2.222vw;
              }
              &.desc {
                font-size: 18px;
              }
            }
          }
        }
        .pagenation {
          margin-top: 6.944vw;
          span {
            font-size: 1.25vw;
            &.divide {
              margin: 0 0.347vw;
              width: 30px;
              height: 3px;
            }
          }
        }
      }
    }
    &.content__flatform {
      .content__list {
        margin: 50px 0;
        @include flex-align(space-between, start);
        .item {
          margin-right: 2.778vw;
          .head {
            padding: 0.833vw;
            font-size: 1.111vw;
            border-top-right-radius: 3.125vw;
          }
          .body {
            padding: 1.389vw;
            ul {
              li {
                margin-bottom: 1.389vw;

                &:last-child {
                  margin-bottom: 0;
                }
                span {
                  &.category {
                    font-size: 1.111vw;
                    line-height: 1.2em;
                  }
                  &.name {
                    font-size: 0.972vw;
                    line-height: 1.2em;
                    &::after {
                      width: 0.694vw;
                      height: 0.694vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 태블릿 ~1279
@include tablet {
  section {
    .content__title {
      span {
        font-size: 1.389vw;
      }
      h3 {
        padding-top: 0.694vw;
        font-size: 3.889vw;
      }
      h4 {
        padding-top: 1.389vw;
        font-size: 1.667vw;
      }
    }
    &.content__banner {
      .banner__text {
        left: 40px;
        transform: translateY(-30%);
        h2 {
          margin-top: -14px;
          font-size: 4.167vw;
        }
        p {
          padding-top: 20px;
          font-size: 1.25vw;
        }
      }
    }
    &.content__service {
      h3 {
        font-size: 1.875vw;
      }
      .service__wrap {
        margin-top: 6.944vw;
        > * {
          &:first-child {
            margin-top: 6.944vw;
          }
          > div {
            height: 27vw;
            padding: 4.167vw;
            h4 {
              font-size: 3.125vw;
            }
            p {
              padding-top: 1.563vw;
              font-size: 1.563vw;
            }
          }
        }
      }
    }
    &.content__feature {
      background: url("/BI/assets/images/pages/sync_boot/feature-bg.jpg") 0 0 no-repeat;
      background-size: auto 100%;
      ul.feature_wrap {
        margin: 0 auto 5.972vw;
        display: flex;
        flex-wrap: wrap;
        > li {
          flex: 1;
          padding: 3.472vw 2.083vw;
          &:hover {
            transform: scale(1.2);
            border-top-right-radius: 2.083vw;
          }
          h4 {
            padding: 1.389vw 0;
            min-height: 6.667vw;
            font-size: 1.389vw;
          }
          p {
            font-size: 0.972vw;
          }
        }
      }
    }
    &.content__composition {
      .diagram {
        max-width: 1440px;
        width: 100%;
        margin: 4.167vw 0 3.472vw;
      }
    }
    &.content__function {
      .inner {
        display: flex;
      }
      .dial__wrap {
        position: relative;
        margin: 6.944vw 0 4.167vw;
        width: 34.722vw;
        height: 34.722vw;
        button {
          width: 3.333vw;
          height: 3.333vw;
          &::after {
            width: 1.319vw;
            height: 1.319vw;
          }
          .btn__inner {
            width: 6.944vw;
            height: 6.25vw;
            span {
              padding-top: 4px;
              font-size: 1.389vw;
            }
          }
        }
      }
      .dial__desc {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 33.854vw;
        height: 39.722vw;
        background: $white-color;
        border-top-right-radius: 2.604vw;
        // padding: 6.25vw 5.208vw 6.25vw 12.5vw;
        .desc__wrap {
          width: 80%;
          position: absolute;
          top: 5.25vw;
          right: 10%;
        }
        ul {
          li {
            h4 {
              font-size: 1.875vw;
            }
            p {
              &.title {
                padding: 2.439vw 0 1.22vw;
                font-size: 2.222vw;
              }
              &.desc {
                font-size: 1.406vw;
              }
            }
          }
        }
        .pagenation {
          margin-top: 4.944vw;
          span {
            font-size: 1.25vw;
            &.divide {
              margin: 0 0.347vw;
              width: 30px;
              height: 3px;
            }
          }
        }
      }
    }
    &.content__flatform {
      .content__list {
        margin: 3.472vw 0;
        @include flex-align(space-between, start);
        .item {
          margin-right: 1.563vw;
          .head {
            padding: 1.172vw;
            font-size: 1.2vw;
          }
          .body {
            padding: 1.172vw;
            ul {
              li {
                margin-bottom: 1.172vw;

                &:last-child {
                  margin-bottom: 0;
                }
                span {
                  &.category {
                    padding: 0.938vw 2.344vw;
                    font-size: 1.2vw;
                    line-height: 1.2em;
                  }
                  &.name {
                    padding: 0.938vw 2.344vw;
                    font-size: 1.1vw;
                    line-height: 1.2em;
                    &::after {
                      width: 0.694vw;
                      height: 0.694vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 모바일 ~767
@include mobile {
  section {
    .h100 {
      height: 10.256vw;
    }
    .inner {
      padding: 12.821vw 5.128vw !important;
    }
    .content__title {
      span {
        font-size: 4.103vw;
      }
      h3 {
        padding-top: 1.282vw;
        font-size: 8.205vw;
      }
      h4 {
        padding-top: 1.282vw;
        font-size: 4.615vw;
      }
      &.mCenter {
        text-align: center;
      }
    }
    &.content__banner {
      .banner__text {
        width: 78.205vw;
        height: 47.692vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url("/BI/assets/images/pages/bg-bannertext-m.png") left top no-repeat;
        background-size: 100% 100%;
        h2 {
          margin-top: -1.026vw;
          font-size: 9.231vw;
        }
        p {
          padding-top: 5.128vw;
          font-size: 4.615vw;
        }
      }
    }
    &.content__service {
      h3 {
        font-size: 4.615vw;
      }
      .service__wrap {
        margin-top: 12.821vw;
        flex-direction: column;
        > * {
          &:first-child {
            margin-top: 0;
          }
          > div {
            height: 53.846vw;
            padding: 5.128vw;
            &.service-01 {
              border-top-right-radius: 50px;
            }
            &.service-03 {
              border-radius: 0;
            }
            h4 {
              font-size: 6.154vw;
            }
            p {
              padding-top: 3.59vw;
              font-size: 3.59vw;
            }
          }
        }
      }
    }
    &.content__feature {
      overflow: hidden;
      background: #f4f4f4;
      .keywords {
        margin-top: 10.256vw;
        padding-bottom: 6.25vw;
        background: url("/BI/assets/images/pages/sync_cms/keywords-bg.png") center 2.833vw no-repeat;
        background-size: auto 100%;
        p {
          font-size: 4.615vw;
        }
        ul {
          margin: 5.128vw auto 0;
          width: 100%;
          li {
            margin: 1.026vw;
            padding: 1.026vw 4.103vw;
            border-radius: 4.103vw;
            font-size: 3.59vw;
          }
        }
      }
      ul.feature_wrap {
        margin: 0 auto 10.256vw;
        flex-wrap: initial;
        border: 0 none;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        > li {
          flex: 0 0 auto;
          width: 85.897vw;
          max-width: 100%;
          height: 117.949vw;
          padding: 0;
          display: flex;
          flex-direction: column;
          @include flex-align(center, center);
          border: 0 none;
          color: $white-color;
          background: linear-gradient(28deg, rgb(22, 133, 178) 0%, rgb(12, 158, 134) 100%);

          &:hover {
            transform: scale(1);
          }
          &.swiper-slide-active {
            transition: all 0.2s ease-in;
            // transition-delay: 1s;
            border-top-right-radius: 12.821vw;
          }
          h4 {
            padding: 10.256vw 0 5.128vw;
            min-height: 6.667vw;
            font-size: 5.128vw;
          }
          p {
            font-size: 3.59vw;
            margin: 0 20vw;
          }
        }
      }
      .swiper-controls {
        position: relative;
        display: flex;
        @include flex-align(space-between, center);
        width: 100%;
        height: 13.846vw;
        .swiper-pagination {
          position: unset;
          width: 60%;
          height: 2px;
          background-color: #e8e8e8;
          .swiper-pagination-progressbar-fill {
            background-color: #222222;
          }
        }
        .swiper-navigator {
          display: flex;
          > div {
            width: 13.846vw;
            height: 13.846vw;
            border: 1px solid $gray2-color;
            position: unset;
            margin: 0;
            &::after {
              font-size: 6vw;
              font-weight: 700;
              color: #666666;
            }
          }
          .swiper-button-prev {
          }
          .swiper-button-next {
          }
        }
      }
    }
    &.content__composition {
      .diagram {
        max-width: 100%;
        width: 100%;
        margin: 10.256vw 0 2vw;
      }
    }
    &.content__function {
      flex-direction: column;
      .inner {
        display: flex;
        flex-direction: column;
      }
      .content__title {
        width: 100%;
        h4 {
          padding-top: 3.59vw;
        }
      }
      .content__dial {
        width: 100%;
        .dial__wrap {
          position: relative;
          margin: 10.256vw 0 4.167vw;
          width: 80.769vw;
          height: 80.769vw;
          button {
            width: 6.667vw;
            height: 6.667vw;
            &::after {
              width: 2.051vw;
              height: 2.051vw;
            }
            .btn__inner {
              display: none;
            }
          }
        }
      }

      .dial__desc {
        position: unset;
        width: 100%;
        height: auto;
        padding: 7.692vw;
        border-top-right-radius: 2.604vw;
        .desc__wrap {
          width: 100%;
          position: unset;
        }
        ul {
          li {
            h4 {
              font-size: 4.615vw;
            }
            p {
              &.title {
                padding: 5.128vw 0 3.59vw;
                font-size: 6.154vw;
              }
              &.desc {
                font-size: 3.846vw;
              }
            }
          }
        }
        .pagenation {
          margin-top: 10.256vw;
          span {
            font-size: 3.846vw;
            &.divide {
              margin: 0 1.282vw;
              width: 30px;
              height: 2px;
            }
          }
        }
      }
    }
    &.content__flatform {
      .content__list {
        margin: 10.256vw 0;
        flex-direction: column;
        @include flex-align(center, start);
        .item {
          width: 100%;
          margin-right: 0;
          margin-bottom: 5.128vw;
          .head {
            padding: 3.846vw;
            font-size: 4.103vw;
          }
          .body {
            padding: 5.128vw;
            ul {
              li {
                margin-bottom: 5.128vw;

                &:last-child {
                  margin-bottom: 0;
                }
                span {
                  &.category {
                    padding: 3.077vw 7.692vw;
                    font-size: 4.103vw;
                  }
                  &.name {
                    padding: 2.564vw 7.692vw;
                    font-size: 3.59vw;
                    &::after {
                      width: 2.564vw;
                      height: 2.564vw;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 모바일 소형 ~320
@include mobileFold {
}

// 스와이퍼 css unset
// @media (min-width: 768px) {
//   .swiper,
//   .swiper-container,
//   .swiper-wrapper,
//   .swiper-slide {
//     all: unset !important;
//   }
// }
