@charset "UTF-8";
@import url("./reset.css");
body {
  background-color: #ffffff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* 구형 브라우저를 위해 사용 */
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
  border: 0;
}

#skip__content a {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background: #000;
  color: #fff;
  text-align: center;
}
#skip__content a a:focus {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
}

header {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #4d4d4d;
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
}
header.invert {
  filter: invert(1);
  background: #000000;
  font-weight: 500;
}
header .bi__logo img {
  display: block;
}
header .bi__tabs ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bi__tabs ul li {
  padding: 0 2rem;
  color: #ffffff;
  font-weight: 700;
}
header .bi__tabs ul li:hover {
  color: #cccccc;
}
header .bi__menu {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
header .bi__menu .menu__icon {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
header .bi__menu .menu__icon span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
header .bi__menu .menu__icon span:last-child {
  margin-bottom: 0;
  width: 50%;
}

nav.bi__nav {
  display: none;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  flex-direction: column;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
}
nav.bi__nav.active {
  display: flex;
}
nav.bi__nav .nav__head {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
main {
  width: 100%;
}
main section {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.fullHeight {
  height: 100vh;
  background-color: #000000;
}
main section .inner {
  position: relative;
  padding: 120px 0;
  width: 100%;
  max-width: 1440px;
}
main section .bi__intro {
  flex: 1;
  height: 100%;
  background-color: steelblue;
  border-right: 1px solid #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex 0.6s ease-in-out;
  cursor: pointer;
}
main section .bi__intro.intro-01 {
  background: url("/assets/images/common/bi-intro-01.jpg") center top no-repeat;
  background-size: auto 100%;
}
main section .bi__intro.intro-02 {
  background: url("/assets/images/common/bi-intro-02.jpg") center top no-repeat;
  background-size: auto 100%;
}
main section .bi__intro.intro-03 {
  background: url("/assets/images/common/bi-intro-03.jpg") center top no-repeat;
  background-size: auto 100%;
}
main section .bi__intro .bi__intro__title {
  text-align: center;
  padding: 0 2rem;
}
main section .bi__intro .bi__intro__title h2 {
  font-size: 3.75rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.8s ease-in-out, -webkit-text-stroke 0.8s ease-in-out;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}
main section .bi__intro .bi__intro__title p {
  color: #ffffff;
  padding-top: 1rem;
  font-size: 1.2rem;
  transition: all 0.3s ease-out;
}
main section .bi__intro:last-child {
  border-right: 0;
}
main section .bi__intro:hover {
  flex: 3;
  z-index: 1;
}
main section .bi__intro:hover .bi__intro__title h2 {
  color: #ffffff;
}
main section .bi__intro:not(:hover) {
  flex: 0.5;
}

footer {
  padding: 2.5rem 0;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__inner {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__inner a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
footer .footer__inner a img {
  display: block;
  width: 50%;
}
footer .footer__inner .footer__info ul {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: center;
  align-items: center;
}
footer .footer__inner .footer__info ul li {
  display: flex;
  padding: 0 20px 10px 0;
}
footer .footer__inner .footer__info ul li p {
  font-weight: 400;
  font-size: 0.9rem;
}
footer .footer__inner .footer__info ul li p.name {
  padding-right: 10px;
  font-weight: 600;
  color: gray;
}
footer .footer__inner .footer__info ul li p.desc {
  color: #ffffff;
}
footer .footer__inner .footer__copyright {
  text-align: center;
  font-size: 0.8rem;
  color: gray;
}

.floating__menu {
  position: fixed;
  right: 20px;
  bottom: 170px;
  z-index: 90;
}
.floating__menu button {
  margin-top: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.floating__menu button:nth-child(2n) {
  background-color: #0e998e;
}
.floating__menu button:nth-child(2n) > * {
  color: #ffffff;
}
.floating__menu button > img {
  display: block;
}
.floating__menu button > span {
  padding-top: 4px;
  display: block;
  font-size: 0.8em;
}

#fullpage .section > img {
  display: block;
  width: 100%;
  height: 100%;
}
#fullpage .section .title_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}
#fullpage .section .title_box h2 {
  font-size: 80px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.4em;
}
#fullpage .section .title_box h2 strong {
  font-size: inherit;
  font-weight: 700;
  color: #ffffff;
}
#fullpage .section .title_box h3 {
  padding-top: 10px;
  font-size: 30px;
}
#fullpage .section .title_box .btn__more {
  display: inline-block;
  position: relative;
  margin-top: 40px;
  font-size: 20px;
}
#fullpage .section .title_box .btn__more::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -20%;
  bottom: -7px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #0e998e;
  z-index: -1;
}
#fullpage .section .title_box .btn__more::after {
  display: inline-block;
  content: "";
  position: absolute;
  right: -2rem;
  bottom: 0;
  width: 25px;
  height: 14px;
  background: url("/assets/images/pages/sync/arrow.png") center center no-repeat;
  background-size: 100%;
}
#fullpage h1 {
  color: #ffffff;
}

#conversion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: none;
  z-index: 20;
}
#conversion .layer1 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  background: #0e998e;
  z-index: 2;
}
#conversion .layer2 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  background: #000000;
  z-index: 1;
}
#conversion.up .layer1 {
  animation: slide-up 1s forwards;
}
#conversion.up .layer2 {
  animation: slide-up 1s 0.1s forwards;
}
#conversion.down .layer1 {
  animation: slide-down 1s forwards;
}
#conversion.down .layer2 {
  animation: slide-down 1s 0.1s forwards;
}

@keyframes slide-up {
  0% {
    bottom: -100%;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}
@keyframes slide-down {
  0% {
    bottom: 100%;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}
#scroll__plz {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#scroll__plz > img {
  display: inline-block;
}
#scroll__plz > span {
  padding-top: 10px;
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
}

#pagenation {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 40px;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  z-index: 10;
}
#pagenation li {
  margin: 10px 0;
}
#pagenation a {
  display: inline-block;
  position: relative;
}
#pagenation a i {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #d5d5d5;
  border-radius: 50%;
  transform: translateY(-50%);
}
#pagenation a i::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17px;
  height: 17px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s;
}
#pagenation li.active a i {
  background: #0e998e;
}
#pagenation li.active a i::before {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
}

section .content__title {
  text-align: center;
}
section .content__title span {
  font-size: 20px;
  font-weight: 600;
  color: #999999;
}
section .content__title h3 {
  padding-top: 10px;
  font-size: 56px;
  color: #333333;
}
section .content__title h3 strong {
  font-weight: 700;
}
section .content__title h4 {
  padding-top: 20px;
  font-size: 24px;
}
section .content__title.alignLeft {
  text-align: left;
}
section .page__deco {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  transition: all 0.4s ease;
}
section .page__deco.type1 {
  height: 180px;
  top: -90px;
  right: 0;
  background-color: #0e998e;
  transform: rotate(25deg);
  z-index: 1;
}
section.content__banner {
  overflow: hidden;
}
section.content__banner > img {
  display: block;
  width: 100%;
}
section.content__banner .inner {
  position: absolute;
  height: 100%;
  padding: 0;
}
section.content__banner .banner__text {
  width: 700px;
  height: 264px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #ffffff;
  background: url("/assets/images/pages/bg-bannertext.png") left top no-repeat;
  background-size: 100% 100%;
}
section.content__banner .banner__text h2 {
  margin-top: -14px;
  font-family: "Pretendard", "Noto Sans KR", Dotum, "돋움", sans-serif;
  font-weight: 400;
  font-size: 80px;
}
section.content__banner .banner__text p {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3em;
}
section.content__service h3 {
  text-align: center;
  font-size: 24px;
  line-height: 1.4em;
}
section.content__service .service__wrap {
  margin-top: 120px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
section.content__service .service__wrap > * {
  flex: 1 1 50%;
  height: auto;
}
section.content__service .service__wrap > *:first-child {
  margin-top: 100px;
}
section.content__service .service__wrap > * > div {
  flex: 1;
  display: flex;
  height: 450px;
  flex-direction: column;
  padding: 60px;
  color: #ffffff;
}
section.content__service .service__wrap > * > div.service-01 {
  background: url("/assets/images/pages/sync_boot/service-01.png") 0 0 no-repeat;
  background-size: 100% auto;
}
section.content__service .service__wrap > * > div.service-02 {
  background: url("/assets/images/pages/sync_boot/service-02.png") 0 0 no-repeat;
  background-size: 100% auto;
}
section.content__service .service__wrap > * > div.service-03 {
  background: url("/assets/images/pages/sync_boot/service-03.png") 0 0 no-repeat;
  background-size: 100% auto;
  border-top-right-radius: 50px;
}
section.content__service .service__wrap > * > div.service-04 {
  background: url("/assets/images/pages/sync_boot/service-04.png") 0 0 no-repeat;
  background-size: 100% auto;
}
section.content__service .service__wrap > * > div h4 {
  font-family: "Pretendard", "Noto Sans KR", Dotum, "돋움", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
section.content__service .service__wrap > * > div p {
  padding-top: 20px;
  font-size: 20px;
  line-height: 1.4em;
}
section.content__feature {
  background: url("/assets/images/pages/sync_boot/feature-bg.jpg") 0 0 no-repeat;
  background-size: cover;
}
section.content__feature ul.feature_wrap {
  margin: 100px 0 86px;
  border: 1px solid #cccccc;
  display: flex;
}
section.content__feature ul.feature_wrap li {
  padding: 60px 40px;
  border-right: 1px solid #cccccc;
  text-align: center;
  background-color: #ffffff;
}
section.content__feature ul.feature_wrap li:last-child {
  border: 0 none;
}
section.content__feature ul.feature_wrap li:hover {
  background: linear-gradient(28deg, rgb(22, 133, 178) 0%, rgb(12, 158, 134) 100%);
  transform: scale(1.2);
  transition: all 0.2s ease-in;
  border-top-right-radius: 30px;
}
section.content__feature ul.feature_wrap li:hover h4,
section.content__feature ul.feature_wrap li:hover p {
  color: #ffffff;
}
section.content__feature ul.feature_wrap li h4 {
  padding: 20px 0;
  min-height: 96px;
  font-size: 20px;
  line-height: 1.4em;
}
section.content__feature ul.feature_wrap li p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4em;
}
section.content__composition .diagram {
  margin: 60px 0 50px;
  display: flex;
}
section.content__function {
  background-color: #f4f4f4;
  position: relative;
}
section.content__function .inner {
  display: flex;
}
section.content__function .content__title {
  width: 30%;
}
section.content__function .content__dial {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.content__function .dial__wrap {
  position: relative;
  margin: 100px 0 60px;
  width: 600px;
  height: 600px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background: url("/assets/images/pages/sync_boot/dial.png") center center no-repeat;
}
section.content__function .dial__wrap button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
section.content__function .dial__wrap button::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #cccccc;
  transition: all 0.2s ease-in;
}
section.content__function .dial__wrap button.active, section.content__function .dial__wrap button:hover {
  border: 1px solid #0e998e;
  background: #ffffff;
}
section.content__function .dial__wrap button.active::after, section.content__function .dial__wrap button:hover::after {
  background-color: #0e998e;
}
section.content__function .dial__wrap button.active .btn__inner, section.content__function .dial__wrap button:hover .btn__inner {
  color: #0e998e;
}
section.content__function .dial__wrap button.active .btn__inner img, section.content__function .dial__wrap button:hover .btn__inner img {
  filter: invert(58%) sepia(52%) saturate(7064%) hue-rotate(148deg) brightness(90%) contrast(89%);
}
section.content__function .dial__wrap button .btn__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.content__function .dial__wrap button .btn__inner span {
  font-size: 24px;
  line-height: 1.2em;
}
section.content__function .dial__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 650px;
  height: 680px;
  background: #ffffff;
  border-top-right-radius: 50px;
  padding: 120px 100px 120px 240px;
}
section.content__function .dial__desc ul li {
  display: none;
}
section.content__function .dial__desc ul li.active {
  display: block;
}
section.content__function .dial__desc ul li h4 {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 24px;
  color: #0e998e;
  font-weight: 500;
}
section.content__function .dial__desc ul li h4 > img {
  display: inline-block;
  filter: invert(58%) sepia(52%) saturate(7064%) hue-rotate(148deg) brightness(90%) contrast(89%);
  margin-right: 10px;
}
section.content__function .dial__desc ul li p.title {
  padding: 40px 0 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2em;
  word-break: keep-all;
}
section.content__function .dial__desc ul li p.desc {
  font-size: 18px;
  line-height: 1.3em;
}
section.content__function .dial__desc .pagenation {
  margin-top: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}
section.content__function .dial__desc .pagenation span {
  font-size: 18px;
}
section.content__function .dial__desc .pagenation span.current {
  font-weight: 700;
}
section.content__function .dial__desc .pagenation span.divide {
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 3px;
  background-color: #000000;
}
section.content__function .dial__desc .pagenation span.total {
  color: #cccccc;
}
section.content__flatform {
  background-color: #ddd;
}
section.content__flatform .content__list {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
section.content__flatform .content__list .item {
  flex: 1;
  margin-right: 40px;
}
section.content__flatform .content__list .item:last-child {
  margin-right: 0;
}
section.content__flatform .content__list .item .head {
  padding: 12px;
  background: linear-gradient(180deg, rgb(22, 133, 178) 0%, rgb(12, 158, 134) 100%);
  color: #ffffff;
  font-size: 18px;
  border-top-right-radius: 45px;
}
section.content__flatform .content__list .item .body {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
section.content__flatform .content__list .item .body ul li {
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}
section.content__flatform .content__list .item .body ul li:last-child {
  margin-bottom: 0;
}
section.content__flatform .content__list .item .body ul li span {
  display: block;
  width: 100%;
  text-align: center;
  padding: 12px;
  color: #333333;
}
section.content__flatform .content__list .item .body ul li span.name {
  position: relative;
  font-size: 14px;
  border-top: 1px solid #dddddd;
  background-color: #dddddd;
}
section.content__flatform .content__list .item .body ul li span.name::after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-radius: 50%;
}
section.content__flatform .content__list .item .body ul li span.name.type1::after {
  background-color: #387ade;
}
section.content__flatform .content__list .item .body ul li span.name.type2::after {
  background-color: #ff8f0b;
}
section.content__flatform .content__list .item .body ul li span.name.type3::after {
  background-color: #27a633;
}
section.content__flatform .content__list .item .body ul li span.name.type4::after {
  background-color: #a16ed3;
}
section.content__flatform .content__list .item .body ul li span.name.type5::after {
  background-color: #ffcd1e;
}
section.content__flatform .content__list .item .body ul li span.name.type6::after {
  background-color: #41a7a7;
}
section.content__flatform .content__list .item .body ul li span.name.type7::after {
  background-color: #6cb9ff;
}
section.content__flatform .content__list .item .body ul li span.name.type8::after {
  background-color: #a0d800;
}
section.content__flatform .content__list .item .body ul li span.name.type9::after {
  background-color: #ff5a5a;
}
section.content__flatform .content__list .item .body ul li span.name.type10::after {
  background-color: #a8a8a8;
}
section.content__flatform .content__list .item .body ul li span.name.type11::after {
  background-color: #beb66c;
}
section.content__flatform .content__list .item .body ul li span.name.type12::after {
  background-color: #b4843d;
}
section.content__flatform .content__list .item .body ul li span.name.type13::after {
  background-color: #d36ec9;
}
section.content__flatform .content__list .item .body ul li span.name.type14::after {
  background-color: #d97171;
}
section.content__flatform .content__list .item .body ul li span.name.type15::after {
  background-color: #b21616;
}/*# sourceMappingURL=style_20240910110956.css.map */